.settings-row{
	padding: 15px;
	width: 100%;
	display: flex;
	box-sizing: border-box;
}
.settings-row_text{
	flex-grow: 1;
}
.settings-row_text *{
	margin: 0;
    word-break: break-word;
    font-weight: 400;
    font-size: 15px;
    color: #000;
}
.settings-row_text p{
	font-size: 13px;
	color: #6B6B6B;
	margin-top: 2px;
}
.settings-row_action{
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding-left: 15px;
}
.settings-row_icon{
	padding: 3px;
    padding-right: 18px;
}