.gui-ripple-parent{
    position: relative;
}
.gui-ripple-root{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
    z-index: 0;
}
.gui-ripple-circle{
    position: absolute;
    background-color: var(--ripple-bg-main);
    border-radius: 50%;
    transform-origin: center;
    opacity: .5;
    transition: .4s ease,
                opacity .46s cubic-bezier(0.58, 0.41, 0.86, 0.4);
}
.gui-ripple-circle_hold{
    transition: 1s ease,
                opacity 1s cubic-bezier(0.85, 0.01, 0.77, 0.14);
}

.gui-button{
	outline: none;
    border: none;
    background: none;
    font: inherit;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: var(--gui-main);
    color: var(--text-light);
    font-size: var(--font-size-normal);
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease,
    			color .3s ease;
}
.gui-button .gui-ripple-circle{
    background-color: var(--ripple-gui-main);    
}
.gui-button:not(.gui-disabled):hover{
    background-color: var(--gui-main-hover);
}
.gui-button.gui-second-style{
	background-color: var(--gui-second);
}
.gui-button.gui-second-style .gui-ripple-circle{
    background-color: var(--ripple-gui-second);    
}
.gui-button:not(.gui-disabled).gui-second-style:hover{
	background-color: var(--gui-second-hover);
}
.gui-button.gui-disabled{
	opacity: .5;
	cursor: default;
}

.gui-checkbox{
    outline: none;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    height: 18px;
}
.gui-checkbox-handler-container{
    height: 10px;
    width: 34px;
    border-radius: 5px;
    position: relative;
    background-color: var(--gui-second-light); 
}
.gui-checkbox-handler{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
    background-color: var(--gui-second); 
    transition: .3s ease;
}
.gui-checkbox.gui-checked .gui-checkbox-handler-container{
    background-color: var(--gui-main-light);    
}
.gui-checkbox.gui-checked .gui-checkbox-handler{
    left: 16px;
    background-color: var(--gui-main);
}
.gui-checkbox:not(.gui-disabled):hover .gui-checkbox-handler-container{
    background-color: var(--gui-second-light-hover);
}
.gui-checkbox:not(.gui-disabled):hover .gui-checkbox-handler{
    background-color: var(--gui-second-hover);    
}
.gui-checkbox.gui-checked:not(.gui-disabled):hover .gui-checkbox-handler-container{
    background-color: var(--gui-main-light-hover);
}
.gui-checkbox.gui-checked:not(.gui-disabled):hover .gui-checkbox-handler{
    background-color: var(--gui-main-hover)    
}
.gui-checkbox.gui-disabled{
    opacity: .5;
    cursor: default;
}

.gui-slider{
    outline: none;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    height: 18px;
    display: inline-block;
}
.gui-slider-handler-container{
    height: 4px;
    width: 226px;
    border-radius: 5px;
    position: relative;
    margin: 7px 0px;
    background-color: var(--gui-second-light); 
}
.gui-slider-handler{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 0;
    pointer-events: none;
    background-color: var(--gui-second); 
    transition: background-color .3s ease;
}

.gui-slider:not(.gui-disabled):hover .gui-slider-handler-container{
    background-color: var(--gui-second-light-hover);
}
.gui-slider:not(.gui-disabled):hover .gui-slider-handler{
    background-color: var(--gui-second-hover);    
}/*
.gui-slider:not(.gui-disabled):active .gui-slider-handler-container{
    background-color: var(--gui-main-light-hover);
}*/
.gui-slider:not(.gui-disabled):active .gui-slider-handler{
    background-color: var(--gui-main-hover);    
}
.gui-slider.gui-disabled{
    opacity: .5;
    cursor: default;
}

.gui-dropdown{
    height: 28px;
    width: 226px;
    position: relative;
    cursor: pointer;
}
.gui-dropdown-select-value-container{
    height: 100%;
    width: 100%;
    position: absolute;    
    border-radius: 2px;    
    background-color: var(--gui-second-light); 
    transition: background-color .3s ease;
}
.gui-dropdown-select-value{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0 32px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
    text-align: center;
}
.gui-dropdown-list-container{
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
    height: 0px;
    background-color: white;
    transition: .3s ease;
}
.gui-dropdown-list-scroll-helper{
    display: block;
    padding: 5px 0;
    max-height: 210px;
    overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.gui-dropdown-list{
    padding: 0;
    margin: 0;
    width: 100%;
}
.gui-dropdown-list-li{
    list-style-type: none;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 15px;
}

.gui-dropdown-list-container.open{
    box-shadow: 0 2px 11px #0000001c;    
}

.gui-dropdown:not(.gui-disabled) .gui-dropdown-select-value-container:hover{
    background-color: var(--gui-second-light-hover);
}
.gui-dropdown-list-li:hover{
    background-color: var(--gui-main-light-hover);
}