:root{
	--main-bg-color: #2675F0;
	--second-bg-color: #545454;

	--main-bg-color-hover: #5e99f4;
	--second-bg-color-hover: #868686;

	--light-text-color: #fff;

	--normal-font-size: 15px;
}
.gui-button{
	outline: none;
    border: none;
    background: none;
    font: inherit;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--light-text-color);
    font-size: var(--normal-font-size);
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease,
    			color .3s ease;
}
.gui-button:not(.gui-disabled):hover{
    background-color: var(--main-bg-color-hover);
}
.gui-button.gui-second-style{
	background-color: var(--second-bg-color);
}
.gui-button:not(.gui-disabled).gui-second-style:hover{
	background-color: var(--second-bg-color-hover);
}
.gui-button.gui-disabled{
	opacity: .5;
	cursor: default;
}