:root{
	--main-bg-color: #2675F0;
    --main-bg-color-light: #CFE1FC;
	--second-bg-color: #545454;
    --second-bg-color-light: #E5E5E5;

	--main-bg-color-hover: #5e99f4;
    --main-bg-color-light-hover: #dfebfd;
	--second-bg-color-hover: #868686;
    --second-bg-color-light-hover: #efefef;

	--light-text-color: #fff;

	--normal-font-size: 15px;
}
.gui-button{
	outline: none;
    border: none;
    background: none;
    font: inherit;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--light-text-color);
    font-size: var(--normal-font-size);
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease,
    			color .3s ease;
}
.gui-button:not(.gui-disabled):hover{
    background-color: var(--main-bg-color-hover);
}
.gui-button.gui-second-style{
	background-color: var(--second-bg-color);
}
.gui-button:not(.gui-disabled).gui-second-style:hover{
	background-color: var(--second-bg-color-hover);
}
.gui-button.gui-disabled{
	opacity: .5;
	cursor: default;
}

.gui-checkbox{
    outline: none;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    height: 18px;
}
.gui-checkbox-handler-container{
    height: 10px;
    width: 34px;
    border-radius: 5px;
    position: relative;
    background-color: var(--second-bg-color-light); 
}
.gui-checkbox-handler{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
    background-color: var(--second-bg-color); 
    transition: .3s ease;
}
.gui-checkbox.gui-checked .gui-checkbox-handler-container{
    background-color: var(--main-bg-color-light);    
}
.gui-checkbox.gui-checked .gui-checkbox-handler{
    left: 16px;
    background-color: var(--main-bg-color);
}
.gui-checkbox:not(.gui-disabled):hover .gui-checkbox-handler-container{
    background-color: var(--second-bg-color-light-hover);
}
.gui-checkbox:not(.gui-disabled):hover .gui-checkbox-handler{
    background-color: var(--second-bg-color-hover);    
}
.gui-checkbox.gui-checked:not(.gui-disabled):hover .gui-checkbox-handler-container{
    background-color: var(--main-bg-color-light-hover);
}
.gui-checkbox.gui-checked:not(.gui-disabled):hover .gui-checkbox-handler{
    background-color: var(--main-bg-color-hover)    
}
.gui-checkbox.gui-disabled{
    opacity: .5;
    cursor: default;
}

.gui-slider{
    outline: none;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    height: 18px;
    display: inline-block;
}
.gui-slider-handler-container{
    height: 4px;
    width: 226px;
    border-radius: 5px;
    position: relative;
    margin: 7px 0px;
    background-color: var(--second-bg-color-light); 
}
.gui-slider-handler{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    left: 0;
    pointer-events: none;
    background-color: var(--second-bg-color); 
    transition: background-color .3s ease;
}

.gui-slider:not(.gui-disabled):hover .gui-slider-handler-container{
    background-color: var(--second-bg-color-light-hover);
}
.gui-slider:not(.gui-disabled):hover .gui-slider-handler{
    background-color: var(--second-bg-color-hover);    
}/*
.gui-slider:not(.gui-disabled):active .gui-slider-handler-container{
    background-color: var(--main-bg-color-light-hover);
}*/
.gui-slider:not(.gui-disabled):active .gui-slider-handler{
    background-color: var(--main-bg-color-hover);    
}
.gui-slider.gui-disabled{
    opacity: .5;
    cursor: default;
}