@font-face {
    font-family: "Manrope";
    src: local("Manrope"), url("manrope.wght.ttf") format("truetype");
    font-weight: 200 800;
}

@font-face {
    font-family: "InterWght";
    src: local("InterWght"), url("inter.wght.ttf") format("truetype");
    font-weight: 100 900;
}
