@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("Roboto-Regular.ttf") format("truetype");
    font-weight: auto;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope"), url("Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
}
